#navbar {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: 75px;
  margin-top: 25px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100px;
}

.nav-tooltip {
  opacity: 0;
  font-size: 18px;
  color: #e2e2b6;
  transition: opacity 0.2s ease; /* Smooth transition */
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 3px;
  border-top: 1px solid #6eacda;
  cursor: default;
}

#nav-home,
#nav-resume,
#nav-connect {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

#nav-resume i:hover + .nav-tooltip,
#nav-connect i:hover + .nav-tooltip,
#nav-home i:hover + .nav-tooltip {
  opacity: 1; /* Show tooltip when hovering over the icon */
  border-top: 1px solid #6eacda;
}

#nav-resume i,
#nav-connect i,
#nav-home i {
  font-size: 40px; /* Size of the icon */
  color: #6eacda; /* Icon color */
  transition: transform 0.2s; /* Smooth scaling effect on hover */
}

#nav-home i:hover,
#nav-resume i:hover,
#nav-connect i:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}

#nav-home i:active,
#nav-resume i:active,
#nav-connect i:active {
  transform: translateY(2px); /* Move down slightly */
  filter: brightness(150%);
}

/*Medium Screens (tablets)*/
@media (max-width: 1199px) and (min-width: 768px) {
  #navbar {
    margin: auto;
    margin-top: 20px;
  }
}

/*Small screens (phones, etc.)*/
@media (max-width: 767px) {
  #navbar {
    margin: auto;
    margin-top: 20px;
  }

  #nav-resume i,
  #nav-connect i,
  #nav-home i {
    font-size: 36px;
  }

  .nav-tooltip {
    font-size: 14px;
  }
}
