@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/*Large screens (desktops)*/
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #021526;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 95%;
  margin: auto;
}

/* Medium Screens (tablets) */
@media (max-width: 1199px) and (min-width: 768px) {
  #about-container {
    flex-direction: column;
    gap: 15px;
  }
}

/* Small screens (phones, etc.) */
@media (max-width: 767px) {
  #about-container {
    gap: 10px;
  }
}
