@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/*Large screens (desktops)*/
body {
  display: flex;
  flex-direction: column;
  background-color: #021526;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/*Medium Screens (tablets)*/
@media (max-width: 1199px) and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-content {
    width: 90%;
  }
}

/*Small screens (phones, etc.)*/
@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-content {
    width: 90%;
  }
}
